<div class="box">
  <form action="password" method="post">
  <h3 class="title">Change password</h3>
  <div class="field">
    <p class="control">
      <label class="label">Old password
        <input class="input" name="password1" type="password" value="{{ password1 }}" />
      </label>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <label class="label">New password
        <input class="input" name="password2" type="password" value="{{ password2 }}" />
      </label>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <label class="label">Confirm new password
        <input class="input" name="password3" type="password" value="{{ password3 }}" />
      </label>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <input class="button is-primary" type="submit" value="Change password" />
    </p>
  </div>
  </form>
</div>
