<div class="box">
  <form action="signin" method="post">
    <h3 class="title">Sign in</h3>
    <div class="field">
      <p class="control">
        <label class="label">E-mail address
          <input class="input" name="username" type="email" value="" />
        </label>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <label class="label">Password
          <input class="input" name="password" type="password" value="" />
        </label>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <input class="button is-primary" type="submit" value="Sign in" />
      </p>
    </div>
  </form>
</div>
<!--
<div class="box">
  <label class="label">You can also sign in with Facebook.<br />
    <a href="facebook" class="button">Facebook</a>
  </label>
</div>
-->
<div class="box">
  <label class="label">Not a member yet?<br />
    <a href="signup" class="button">Sign up</a>
  </label>
</div>
