<div class="box">
  <h3 class="title">Flashcard Decks</h3>
  <div class="container">
    <ul style="margin-bottom:1em">
      {{#each decks}}
        <li><a href="{{this.key}}/">{{this.name}}</a></li>
      {{else}}
        <li><i>no decks</i></li>
      {{/each}}
    </ul>
  </div>
  <div class="container">
    <form action="./" method="post">
      <div class="control">
        <input class="button" type="submit" value="New deck" />
      </div>
    </form>
  </div>
</div>
