<div class="box">
  <form action="quiz" method="post">
    <input name="term" type="hidden" value="{{ term }}" />
    <input name="box" type="hidden" value="{{ box }}" />
    <div>
      <span>{{ term }}</span>
    </div>
    <div class="block">
      <button class="button" type="submit" name="show" value="1">Show</button>
    </div>
  </form>
</div>
